node-red/steps/hello_world.json
[
    {
        "id": "17f5bfa8.03378",
        "type": "tab",
        "label": "Hello, World!",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d6c05bd7.e87538",
        "type": "comment",
        "z": "17f5bfa8.03378",
        "name": "Payload e debug (clique duas vezes aqui)",
        "info": "**Bem-vindo! Nessa primeira aula, veremos os nossos primeiros nós e como eles são aplicados.**\n\n\n\nO nó de `Inject` (azul) pode ser usado para gerar o valor do payload e conectado ao nó de `Debug` (verde).\n\nAo clicar no botão (ao lado esquerdo) do nó `Inject`, você verá o payload sendo carregado na tela lateral de debug.\n\nPerceba que o nó `Inject` pode ser carregado com vários tipos de payload, desde strings, objetos e até mesmo expressões. Dê uma olhada em algumas dessas opções! \n\nDica: no menu superior direito, clique no ícone de debug (parece uma joaninha).",
        "x": 220,
        "y": 220,
        "wires": []
    },
    {
        "id": "69e6a80e.f6fbc8",
        "type": "inject",
        "z": "17f5bfa8.03378",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "Hello, World!",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello, World!",
        "payloadType": "str",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "f3f08699.b86508"
            ]
        ]
    },
    {
        "id": "f3f08699.b86508",
        "type": "debug",
        "z": "17f5bfa8.03378",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 260,
        "wires": []
    }
]