node-red/steps/inject_switch_function_debug.json
[
    {
        "id": "e5199b2.d925168",
        "type": "tab",
        "label": "Inject, Switch, Function and Debug",
        "disabled": false,
        "info": ""
    },
    {
        "id": "90bfc64e.7341b8",
        "type": "inject",
        "z": "e5199b2.d925168",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "a78507a0.2a1518"
            ]
        ]
    },
    {
        "id": "f8d238cc.7f7e88",
        "type": "debug",
        "z": "e5199b2.d925168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "a78507a0.2a1518",
        "type": "switch",
        "z": "e5199b2.d925168",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "573e8f39.99353"
            ],
            [
                "18103410.c96afc"
            ]
        ]
    },
    {
        "id": "ccb66127.f62d8",
        "type": "debug",
        "z": "e5199b2.d925168",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "d356e770.f811d8",
        "type": "inject",
        "z": "e5199b2.d925168",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "a78507a0.2a1518"
            ]
        ]
    },
    {
        "id": "18103410.c96afc",
        "type": "function",
        "z": "e5199b2.d925168",
        "name": "",
        "func": "msg.payload = \"The number is: \" + msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 140,
        "wires": [
            [
                "ccb66127.f62d8"
            ]
        ]
    },
    {
        "id": "573e8f39.99353",
        "type": "function",
        "z": "e5199b2.d925168",
        "name": "",
        "func": "msg.payload = \"The number is: \" + msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "f8d238cc.7f7e88"
            ]
        ]
    },
    {
        "id": "6b09a448.e3684c",
        "type": "comment",
        "z": "e5199b2.d925168",
        "name": "Inject, Switch, Function e Debug",
        "info": "Aqui temos mais dois nós e que possivelmente, sejam os mais comuns em qualquer solução que utilize o Node-RED: `Switch` e `Function`.\n\n - Utilizamos o nó `Switch` quando precisamos tomar caminhos diferentes, dependendo de alguma condição. Que no caso deste exemplo, `msg.payload` igual a 1 ou igual a 2. Perceba que o `Switch` escolherá o caminho a seguir a partir do valor do payload.\n \n - Já o nó `Function`, assim como o próprio nome já diz: é o local onde escrevemos as nossas funções. Por convenção, escreveremos as nossas funções em JavaScript, já que o Node-RED é baseado em Node.js. E assim como uma função deve retornar algum valor, sempre finalizamos as nossas funções com `return msg;`. Isso irá garantir que o payload siga o seu fluxo normalmente.\n\nAgora que já conheceu esses nós, entre nos componentes e veja como estão configurados. Depois clique no botão do nó `Inject` que conheceu na aula anterior e veja a saída na aba lateral de debug.",
        "x": 270,
        "y": 60,
        "wires": []
    }
]